TBT_DB_PATH=./data/tbt.sqlite
TBT_SEED=101
TBT_PASS_THRESHOLD=0.80
TBT_BORDERLINE_THRESHOLD=0.60
TBT_TRAJECTORY_WEIGHT=0.30
TBT_TIMING_WEIGHT=0.25
TBT_OBSERVATION_WEIGHT=0.25
TBT_ALIGNMENT_WEIGHT=0.20
TBT_SIM_NOISE=0.03
